body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AlegreyaSansSC'; /* Имя шрифта */
  src: url('./fonts/AlegreyaSansSC-Light.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'AlegreyaSansSC extrabold'; /* Имя шрифта */
  src: url('./fonts/AlegreyaSansSC-ExtraBold.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'ElMessiri'; /* Имя шрифта */
  src: url('./fonts/ElMessiri-Bold.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'AlegreyaSansSC-Regular'; /* Имя шрифта */
  src: url('./fonts/AlegreyaSansSC-Regular.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'AlegreyaSansSC-Medium'; /* Имя шрифта */
  src: url('./fonts/AlegreyaSansSC-Medium.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}

@font-face {
  font-family: 'AlegreyaSansSC-LightItalic'; /* Имя шрифта */
  src: url('./fonts/AlegreyaSansSC-LightItalic.ttf') format('truetype'); /* Укажите правильные форматы */
  font-weight: normal; /* Укажите вес шрифта */
  font-style: normal; /* Укажите стиль шрифта */
}